<% content_for :title, "Index of all routes" %>
<div class="container mt-5">
  <h1 class="mb-4">Example Routes</h1>

  <div class="row gx-4 gy-4">
    <%= render partial: 'example_card', collection: @examples, as: :example %>
  </div>
</div>